* {
    box-sizing: border-box;
    }
body {
    position: relative;
}
#info {
    background-color: #eee;
    color: #333;
    border: 1px solid #555;
    width: 350px;
    height: 150px;
    position: absolute;
    top: 300px; right: 10px;
    padding: 1em;
    font-family: sans-serif;
    box-shadow: 2px 2px 3px 3px #999;
}
#info h3 {
    margin: 0 0 1em 0;
}
#info th {
    text-align: left;
    padding-right: 1em;
}
