body {
    font-family: sans-serif;
    color: #333;
}

#tasks {
    margin-top: 2em;
}

article {
    border: 1px solid #aaa;
    border-radius: .5em;
    box-shadow: 2px 2px 4px #ccc;
    padding: .5em 1em;
    h5 {
        margin: 0;
        button {
            margin-left: 2em;
        }
    }
    p {
        margin:0;
        padding-top: .5em;
    }
    &.done > * {
        text-decoration-line: line-through;
        color: #aaa;
    }
    & + article {
        margin-top: 1em;
    }
}

