$size: 425px;
#video {
    border: 1px solid #999;
    width: $size;
    height: auto;
}

#message {
    color: red;
}

.buttons {
    margin-bottom: 1em;
   * + * {
       margin-left: 1em;
   }
}

.card {
    &.hidden {
        display: none;
    }
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img {
        width: 100%;
        height: auto;
    }
    p {
        text-align: center;
        padding: 1em;
        margin: 0;
        font-family: consolas;
        font-weight: 700;
        font-size: 1.4em;
    }
}
